@font-face {
  font-family: 'sell-icon';
  src:  url('fonts/sell-icon.eot?urhnk0');
  src:  url('fonts/sell-icon.eot?urhnk0#iefix') format('embedded-opentype'),
    url('fonts/sell-icon.ttf?urhnk0') format('truetype'),
    url('fonts/sell-icon.woff?urhnk0') format('woff'),
    url('fonts/sell-icon.svg?urhnk0#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add_circle:before {
  content: "\e900";
}
.icon-add146:before {
  content: "\e901";
}
.icon-add155:before {
  content: "\e902";
}
.icon-arrow_lift:before {
  content: "\e903";
}
.icon-back41:before {
  content: "\e904";
}
.icon-black372:before {
  content: "\e905";
}
.icon-business165:before {
  content: "\e906";
}
.icon-check_circle:before {
  content: "\e907";
}
.icon-circle94:before {
  content: "\e908";
}
.icon-circular227:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-cloud261:before {
  content: "\e90b";
}
.icon-compass82:before {
  content: "\e90c";
}
.icon-crop12:before {
  content: "\e90d";
}
.icon-cross79:before {
  content: "\e90e";
}
.icon-download139:before {
  content: "\e90f";
}
.icon-facebook_facebook50:before {
  content: "\e910";
}
.icon-faq5:before {
  content: "\e911";
}
.icon-favorite:before {
  content: "\e912";
}
.icon-film58:before {
  content: "\e913";
}
.icon-four86:before {
  content: "\e914";
}
.icon-global26:before {
  content: "\e915";
}
.icon-heart282:before {
  content: "\e916";
}
.icon-home137:before {
  content: "\e917";
}
.icon-images18:before {
  content: "\e918";
}
.icon-keyboard_arrow_right:before {
  content: "\e919";
}
.icon-list64:before {
  content: "\e91a";
}
.icon-localization4:before {
  content: "\e91b";
}
.icon-locked34:before {
  content: "\e91c";
}
.icon-logout9:before {
  content: "\e91d";
}
.icon-magic15:before {
  content: "\e91e";
}
.icon-minus81:before {
  content: "\e91f";
}
.icon-monitor72:before {
  content: "\e920";
}
.icon-new81:before {
  content: "\e921";
}
.icon-notebook45:before {
  content: "\e922";
}
.icon-notes23:before {
  content: "\e923";
}
.icon-oval33:before {
  content: "\e924";
}
.icon-photo180:before {
  content: "\e925";
}
.icon-photo183:before {
  content: "\e926";
}
.icon-recycle62:before {
  content: "\e927";
}
.icon-remove_circle_outline:before {
  content: "\e928";
}
.icon-search79:before {
  content: "\e929";
}
.icon-shopping_cart:before {
  content: "\e92a";
}
.icon-shopping200:before {
  content: "\e92b";
}
.icon-speaker76:before {
  content: "\e92c";
}
.icon-speech97:before {
  content: "\e92d";
}
.icon-square157:before {
  content: "\e92e";
}
.icon-square161:before {
  content: "\e92f";
}
.icon-tag48:before {
  content: "\e930";
}
.icon-thumb_down:before {
  content: "\e931";
}
.icon-thumb_up:before {
  content: "\e932";
}
.icon-tray17:before {
  content: "\e933";
}
.icon-two322:before {
  content: "\e934";
}
.icon-user145:before {
  content: "\e935";
}
.icon-users23:before {
  content: "\e936";
}
.icon-weekly13:before {
  content: "\e937";
}
.icon-zoom58:before {
  content: "\e938";
}
.icon-zoom61:before {
  content: "\e939";
}
